name: Frontend CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    # It tells every "run" command to happen inside the 'frontend' folder
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        # Important: tell the cache where the lock file is
        cache-dependency-path: frontend/package-lock.json

    - name: Install Dependencies
      run: npm ci

    - name: Run Tests
      run: npm run test

    - name: Build Project
      run: npm run build